<div class='pencil'>
  <img class='pencil-piece' src='/images/pencil1.png' />
  <img class='pencil-fill' src='/images/pencil2.png' />
  <img class='pencil-piece' src='/images/pencil3.png' />
  <img class='pencil-fill' src='/images/pencil4.png' />
  <img class='pencil-piece' src='/images/pencil5.png' />
</div>