  <!-- ::: TEMP FOR INITAL CSS STYLING ::: -->
    <div class="container">
      {{>happycamper}}

      <div class="paper">
        <h1>Add Item</h1>
<form class="form" action="/add-item" method="post" enctype="multipart/form-data">

  <label for="product" class="form-item">
    Product:
    <input type="text" name="product" id="product" value="{{name}}" class="field">
  </label>
  
  <label for="quantity" class="form-item">
    Quantity:
    <input type="text" name="quantity" id="quantity" class="field">
  </label>

  <label for="image" class="form-item">
    Upload image:
    <input type="file" name="image" id="image" class="upload-button">
  </label>

   <div class="actions">
          <input type="submit" value="Save" class="submit">
          <a href="/">Cancel</a>
        </div>

</form>

{{>pencil}}